.App {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.titulo-principal {
  text-align: center;
  color: crimson;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
